${include:client.tmpl}

UseBridges 1

# In some tor versions, Microdescriptors don't work well with bridge clients
# But the latest git sources appear to be fine
#UseMicrodescriptors 0

${bridges}

# Like TestingClientDownloadSchedule, but for bridge clients
# Try to download after:
# the minimum initial consensus time to start with,
# a few eager fetches,
# then half the minimum testing consensus interval
TestingBridgeDownloadSchedule 0, 5
